@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* shared styles */
  .orange {
    color: rgb(254, 163, 1);
  }
  .white {
    color: rgb(255, 255, 255);
  }


  /* Nav section */
  header {
    max-width: 1140px;
    margin: 0 auto ;
   
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    /* max-width: 1140px;
    margin: 0 auto; */
    align-items: center;
    margin-bottom: 120px;
  }

  .logo {
    display: flex;
  }
  .logo-title {
    font-size: 2rem;
    font-weight: 700;
    color:rgb(17, 17, 17) ;
  }
  /* .logo img {
    height:100%;
    width: 70%

    
  } */

  .nav-items {
    display: flex;
    gap: 20px;
  }
  .contact {
    background-color:rgb(254, 163, 1) ;  
    color: rgb(255, 255, 255) ;
    padding:5px 15px;
    font-weight: 600;
    font-size: 1.25rem; 
    border-radius: 8px;
    border: none;
  }
  .home {
    font-size: 1.25rem;
    font-weight: 700;  
  }
  .about {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(1, 172, 253);
  }
  .facilities {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(5, 212, 223);
  }
  .admission {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(93, 88, 239);
  }

  /* vision styles */ 
  .vision {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .vision-title {
    font-weight: 700;
    font-size: 3.5rem;
  }
  .vision-span-1 {
    font-weight: 700;
    font-size: 3.5rem;
    color: rgb(254, 163, 1);
  }
  .vision-span-2 {
    font-size: 3.5rem;
    font-weight: 700;
  }
    .vision-span-3 {
        color: rgb(1, 172, 253);
        font-size: 3.5rem;
        font-weight: 700;
    }

    .vision-description {
        font-weight: 400;
        font-size: 1.25rem;
        color: rgb(17, 17, 17);
    }
    .vision-btn {
        background-color:rgb(17, 17, 17);
        color: rgb(255, 255, 255);
        font-size: 1rem;
        font-weight: 700;
        border: none;
        border-radius: 12px;
        padding: 5px 15px;
    }

    /* Main section */
  main {
    max-width: 1140px;
    margin: 0 auto;
  }

    /* Standard Curriculum styles */
    .card-container {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3,1fr);
      
      
    }
    .fact-card {
      /* border: 2px solid tomato; */
      border-radius: 18px;
      max-width: 360px;
      height: 320px;
      display: flex;
      justify-content: center;
      text-align: center; 
      padding:50px 0;
      box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
      
      

    }
    .title {
      text-align: center;
      font-size: 2.8rem;
      font-weight: 700;
    }
    .card-description {
      color: rgb(128, 128, 128);
      font-weight: 500;
      font-size: 1rem;
    }
    .card-title {
      font-size: 1.5rem;
      font-weight: 700;
      color:rgb(32, 32, 32) ;
    }
    .kin-btn {
      border: none;
      background-color: white;
      color:rgb(100, 200, 255) ;
    }
    .ele-btn {
      border: none;
      background-color: white;
      color: rgb(240, 170, 0);
    }
    .mi-btn {
      border: none;
      background-color: white;
      color: rgb(135, 0, 255);
    }
    /* card-3 */
    .liner-3 {
      background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    }
    /* Card-2 */
    .liner-2 {
      background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    }
    /* card-1 */
    .liner-1 {
      background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    }
      
    /* Our Stories styles */
    
    
    .container {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(2, 290px);
      gap: 10px;
    }

    #card-1 {
      grid-row: span 2;
    }
    .stories-title {
      font-size: 2.8rem;
      font-weight: 700;
      text-align: center;
    }
   .container button {
    position: relative;
    left: 40px;
    top: -20px; 
    color: white;
    border: none;
    padding:5px 20px ;
     border-radius: 8px;
     font-size: .9rem;
     font-weight: 500;           
   }
   .c-1-btn {
     background-color:rgb(60, 216, 232) ;  
   }
   .c-2-btn {
   background-color: rgb(149, 178, 38);
     
   }
   .c-3-btn {
    background-color: rgb(93, 88, 240);

   }
   .c-4-btn {
    background-color: rgb(149, 178, 38);

   }
   .c-5-btn {
    background-color: rgb(149, 178, 38);
   }
   .c-1-title {
    font-weight: 700;
    font-size: 1.5rem;

   }
   .c-1-description {
    font-weight: 500;
    font-size: .9rem;
    color: rgb(102, 102, 102);
   }
   .view-btn {
    color: white;
    background-color: black;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
   }
   .v-btn {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
   }
  
    /* footer styles */
footer {
 
  height: 520px;
  background-color: rgb(1, 172, 253);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  color: white;
  max-width:1070px;
  height: 230px;
  position: relative;
  left: 140px;
  top: 120px;
 
}
.flex {
  display: flex;
  align-items: center;
}
.footer-container p {
  max-width: 400px;
}
.f-title {
  font-size: 2.6rem;
  font-weight: 700;
}
.f-logo {
  max-width:auto ;
  height: 100px;
}
footer li {
  list-style: none;
}


    














  






    @media screen and (max-width:576px){
      .logo-title, .nav-items, .contact {
        display: none;
      }
      .vision {
          flex-direction: column-reverse;
          width: 100%;
          font-size: 1rem;
          gap: 0px;
          
      }
      .card-container {
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        width: 100%;
      
      }
      
      #card-1 {
        display: none;
      }
      .container{
        grid-template-columns: repeat(1,1fr);
        width: auto;
       
      }     
      
  }









  
     
  

  